* {
    margin: 0;
    padding: 0;
}

.photo {
    margin-top: 2%;
    width: 220px;
    height: 200px;
}

.Intro {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    gap: 50px;
}

.linebreak {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0;
    font-size: 2em;
    font-weight: 600;
}

.linebreaker {
    display: block;
    margin-bottom: 15px;
    padding: 0;
    font-size: 1.5em;
    font-weight: 600;
}

p {
    font-weight: 500;
}

.contact-wrapper {
    margin-left: 23%;
    margin-bottom: 25px;
    display: block;
}

.contact-main {
    margin-bottom: 8px;
    font-size:150%;
    font-weight: 700;
}

.contact-items {
    margin-bottom: 4px;
    margin-left: 29px;
    color: black;
    display:grid;
    align-items: center;
}

.contact-items img{
    margin:10px;
    margin-top: 1px;
}


.item-1{
    display:flex;
    margin: 5px;
}

.item-2{
    display:flex;
    margin: 5px;

}

.item-3{
    display:flex;
    margin: 5px;

}

.item-4{
    display:flex;
    margin: 5px;

}


.skill-wrapper {
    margin-left: 23%;
    margin-bottom: 25px;
    display: block;
}

.skill-title {
    align-items: center;
}

.skill-item1, .skill-item2, .skill-item3 {
    background-color: rgb(167, 224, 228);
    margin: 25px 0;
    padding: 30px;
    width: 11vw;
    cursor: pointer;
}

.skill-item {
    display: flex;
    flex-direction: row;
    margin-left: 28px;
    padding: 10px;
    gap: 20px;
}

.education-wrapper {
    margin-left: 23%;
    margin-bottom: 50px;
    display: block;
}

.education-list {
    margin-left: 28px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edu-item1, .edu-item2 {
    background-color: rgb(167, 224, 228);
    margin-right: 50%;
    margin-left: 14px;
    padding: 10px;
}

.edu-item1 h4, .edu-item2 h4 {
    font-weight: 600;
    font-size: large;
    margin-bottom: 5px;
}

.edu-item1 p, .edu-item2 p {
    font-size: medium;
    font-weight: 400;
    color: rgb(63, 63, 57);
}

.footer {
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 40px;
}

@media only screen and (max-width: 750px) {
    .skill-item {
        display: flex;
        flex-direction: column;
        width:400px;
        margin-left: 0px;
    }

    .skill-item1, .skill-item2, .skill-item3 {
        width:190px;
        height: 150px;
        padding:25px;
        margin-left: 0px;
    }

    .education-list {
       gap: 20px;
       width: 700px;
       margin-left: 0px;
    }

    .photo {
        margin-bottom: 0px;
        margin-top: 4%;
    }

    .Intro {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 0px;
        align-items: center;
         
        p {
            margin-left: 50px;
        }
    }

    .contact-main{
        font-weight: 700;
        font-size: 150%;
        margin-left: 0%;
    }
    .header{
        display: flex;
        flex-direction: column;
        margin-left:30px;
        gap:0px;
    }

    .footer{
margin-left: 170px;    }
}

